<div class="login">
    <div class="flex">
        <h1>Fazer login</h1>
        <p>Ir para o Gmail</p>
        <br>
        <form [formGroup]="formGroup">
            <div class="field">
                <input id="usuario" type="username" formControlName="login" pInputText placeholder="Usuário"/>
                <br>
                <a href=""><small id="username1-help" class="block">Esqueceu seu e-mail?</small></a>
            </div>
            <div class="field">
                <input id="senha" type="password" formControlName="senha" pInputText placeholder="Senha"/>
                <br>
                <a href=""><small id="password-help" class="block">Esqueceu sua senha?</small></a>
            </div>
        </form>
        <button pButton pRipple type="button" label="Criar Conta" class="p-button-outlined"></button>
        <p-button label="Entrar"></p-button>
    </div>
</div>